$icons: (
	  sprite: (width: 74px, height: 66px, pngPath: '../img/sprite.png', svgPath: '../img/sprite.svg'),
 	facebook: (width: 10px, height: 22px, backgroundX: 0px, backgroundY: 0px),
 	twitter: (width: 32px, height: 22px, backgroundX: -10px, backgroundY: -22px),
 	twitterHover: (width: 32px, height: 22px, backgroundX: -42px, backgroundY: -44px),
);
